html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

/* this portion affects our beginning block of text */
p{
  border: 3px solid white;
  padding: 5px;
  margin-right: 5%;
  margin-left: 5%;
}
/* This is affecting everything within the lockMechanism div which includes the lock, counter, 
  and buttons. It is setting every element to take up their entire line and then putting them
  into the center. This took a lot longer to figure out than it should've...
*/
#lockMechanism{
  width: 100%;
  text-align: center;
}

/* We set the color of the button's background, the color of their text, how much space exists 
   between the border and the text, setting the size of the text, and finally rounding off the 
   button's corners so it looks more smooth. Feel free to play around with these values!
*/
#resetButton{
  background-color: red;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
}

#submitButton{
  background-color: green;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
}

/* Changing the settings of the counter, I couldn't get the font-family working so you should
   do it instead! Consider this a self-teaching assignment instead of me being too lazy to 
   figure it out.
*/
#countDisplay{
  font-family: Copperplate, Sans Serif;
  font-size: 20px;
}

/* We set the video to be considered a block so it basically takes up the entire line it is on,
   then we set the margins to be auto and this somehow centers it on the page. Finally we initilly
   set it's visibility to be hidden so that it's still technically there just invisible. Once we
   submit the right number, our JS file will set it to be "visible".
*/
#catVid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  visibility: hidden;
}